{% if foods %}
{% for food in foods %}
	<div class="popularlist">
		<div class="content">
			<div class="img">
				<a href="/food/{{ food.id }}/"><img src="{{ MEDIA_URL }}{{ food.images.all.0.thumb|urlencode }}"></a>
			</div>
			<div class="info1">
				<p class="title">
					<a href="/food/{{ food.id }}/">{{ food.name|escape }}</a>	
				</p>
				<div class="rateit" data-rateit-value="{{ food.statistic.all.0.average|floatformat:-1 }}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>					
			</div> 
		</div>	
	</div>
{% endfor %}
{% else %}
{% endif %}